#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  #fullscreen-desktop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 147;
    background: #000;
    opacity: 0.4;
  }
  #intro-letter{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    div {
      display: table;
      height: 100%;
      width: 100%;
      div{
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
        height: 100%;
        h1{
          font-family: Arial, sans-serif;
          font-size: 22px;
          letter-spacing: 1px;
          margin-bottom: 16px;
        }
        p{
          font-family: Arial, sans-serif;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 1.6em;
          max-width: 700px;
          margin: 0 auto;
        }
      }
    }

  }
}

